version: "3.5"

networks:
  showyourheart-network:
    name: showyourheart-network

services:
  showyourheart-app:
    restart: on-failure
    container_name: showyourheart-app
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      target: development
    env_file: ./.env
    ports:
      - "127.0.0.1:1601:8000"
    volumes:
      - ../src:/srv
    depends_on:
      - showyourheart-db
    networks:
      - showyourheart-network

  showyourheart-db:
    container_name: showyourheart-db
    image: postgres:14
    environment:
      POSTGRES_USER: "{{ db_user }}"
      POSTGRES_PASSWORD: "{{ db_password }}"
    ports:
      - "0.0.0.0:5432:5432"
    volumes:
      - ../dumps:/dumps
      - ./init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
    networks:
      - showyourheart-network

  showyourheart-selenium:
    container_name: showyourheart-selenium
    image: selenium/standalone-chrome:4.16.0
    networks:
      - showyourheart-network
