networks:
  showyourheart-network:
    name: showyourheart-network

services:
  showyourheart-db:
    container_name: showyourheart-db
    image: postgres:14
    environment:
      POSTGRES_USER: "{{ db_user }}"
      POSTGRES_PASSWORD: "{{ db_password }}"
    ports:
      - "0.0.0.0:5432:5432"
    volumes:
      - ../dumps:/dumps
      - ./init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
      - db_home:/var/lib/postgresql/data
    networks:
      - showyourheart-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "showyourheart" ]
      interval: 5s
      retries: 20
    restart: always

  showyourheart-app:
    restart: always
    container_name: showyourheart-app
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      target: development
    env_file: ./.env
    ports:
      - "127.0.0.1:1601:8000"
    volumes:
      - ../src:/srv
    depends_on:
      showyourheart-db:
        condition: service_healthy
    networks:
      - showyourheart-network

  showyourheart-selenium:
    container_name: showyourheart-selenium
    image: selenium/standalone-chrome:4.16.0
    networks:
      - showyourheart-network


volumes:
  db_home:
    external: false
